@import "../../styles/mixins.scss";
.bid {
    background: rgb(248, 248, 248);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;

    &:first-of-type {
        border-top: 1px solid #d5d5d5;
    }

    .bidder {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .price {
        font-size: 22px;
        white-space: nowrap;
        flex: 1;
        text-align: right;
    }

    .date {
        font-size: 14px;
    }
}

@include media-mobile-only {
    .bid {
        background: #eee;
        div,
        p {
            flex: 1;
            white-space: nowrap;
        }

        .price {
            text-align: right;
        }
    }
}
