@import "./mixins.scss";

.singleAsset {
    height: 100vh;
    .masthead {
        position: relative;
    }
    .imageBg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    .fullScreen {
        position: absolute;
        right: 60px;
        background: rgba(0, 0, 0, 0.19);
        color: #fff;
        border: none;
        height: 70px;
        width: 70px;
        border-radius: 70px;
        bottom: 70px;
        outline: none;
    }

    .assetMastHead {
        padding-top: 100px;
        padding-bottom: 116px;

        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);
        background-color: rgba(0, 0, 0, 0.6);
        color: white;

        div {
            flex: 1;
        }

        .goBack {
            background: none;
            border: none;
            margin-left: 60px;
            cursor: pointer;
            outline: none;
        }
    }

    .viewPdf {
        border: none;
        background: none;
        padding: 5px;
        color: white;
        margin-top: 12px;
    }
    .imageContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        margin-right: 76.5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
            background: #fff;
            padding: 18px;
            text-align: center;
            box-sizing: content-box;
            margin: auto;

            img,
            video {
                // max-width: min(calc(100vw - 36px - 49px), 368px);
                // 89.5 = header height
                // 79 186 padding top and bottom
                // 73 padding top container below - 13 px = 60
                height: calc(100vh - 89.5px - 79px - 186px - 60px);
            }

            &.active {
                img,
                video {
                    height: calc(75vh);
                }
            }
        }

        h1 {
            padding: 50px 0 0 0;
        }
    }

    .left {
        // margin-right: 216px;
        max-width: 508px;

        p {
            font-weight: 500;
            font-size: 15px;
        }

        span {
            display: block;
            margin-bottom: 30px;
            max-width: 400px;
        }

        h1 {
            font-size: 52px;
            text-transform: uppercase;
            margin-bottom: 25px;

            @media screen and (max-width: 1024px) {
                font-size: 36px;
            }
        }
    }

    .description {
        margin-bottom: 35.4px;
    }

    .description,
    .owner {
        h3 {
            margin-bottom: 12px;
        }
    }

    h3 {
        opacity: 0.54;
        font-size: 17px;
        font-weight: 500;
    }

    span {
        font-weight: 400;
        font-size: 400;
        line-height: 22px;
    }

    h2.artist {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 12px !important;
    }

    .name {
        font-size: 19px;
        font-weight: 400;
        margin-bottom: 52px;
    }

    .details {
        max-width: 420px;
    }

    .auction {
        display: flex;
        > div {
            flex: 1;
        }
        div:first-of-type {
            padding-right: 37.5px;
        }
        div:nth-of-type(2) {
            border-left: 1px solid #fff;
            padding-left: 37.5px;
        }
        p {
            font-size: 28px;
            font-weight: bold;
            font-stretch: normal;
            white-space: nowrap;
        }
    }
    .bidButton {
        width: 100%;
        background: #6851ff;
        color: #fff;
        border-radius: 8px;
        border: none;
        padding: 19px 20px;
        font-size: 20px;
        font-weight: 700;
        margin: 37.6px 0 35px;
    }

    .right {
        max-width: 100%;
        width: 625.6px;
        padding: 20px;
    }

    .relatedGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 28px;
        grid-column-gap: 26px;
    }

    .relatedEntry {
        max-width: 241px;
        margin: auto;

        img {
            max-width: 100%;
        }
    }

    .info {
        // position: relative;
        // top: -56px;
        // padding: 73px 119px 170px 131.5px;
        padding: 50px 30px 30px 30px;

        background: #fff;
        // display: flex;
        align-items: flex-start;
        justify-content: space-between;
        // max-width: 1430px;
        margin: 0 auto;

        h2 {
            margin-bottom: 49px;
        }
        .extra {
            margin-bottom: 49px;

            h2 {
                margin-bottom: 12px;
            }
        }
    }

    .nft_preview {
        width: 70%;
        float: left;
    }
    
    .nft_detail {
        width: 30%;
        float: left;
        height: 100vh;
        overflow: scroll;

    }
}

@media screen and (max-width: 1559px) {
    .singleAsset .left {
        margin-right: 22px;
    }
}

@include media-mobile-only {
    .singleAsset {
        .assetMastHead {
            .goBack {
                margin-left: 18px;
            }
        }
    }
}
@include media-tablet-and-smaller {
    .imageContainer {
        img {
            height: unset !important;
            width: 100%;
        }
    }
    .singleAsset {
        .fullScreen {
            display: none;
        }

        .assetMastHead {
            padding-top: 38px;
            padding-bottom: 53px;
            margin-bottom: 0;

            .goBack {
                margin-left: 18px;
            }
        }

        .right,
        .left {
            width: 100%;
            max-width: 100%;
        }

        .artist {
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .name {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 44px;
        }

        .auction {
            h3 {
                font-size: 12px;
                font-weight: 500;
            }
            p {
                font-size: 15px;
                font-weight: bold;
            }
        }

        .bidButton {
            font-size: 17px;
            font-weight: bold;
            padding: 13px 0 12px;
            margin: 27.5px 0;
        }

        .imageContainer {
            padding: 0 0 21px;
            max-width: calc(100% - 36px);
            margin: auto;
            align-items: unset;
            text-align: center;
        }

        .details {
            text-align: center;
            max-width: calc(100% - 36px);
            margin: auto;
        }

        .description,
        .owner {
            text-align: left;
        }

        .info {
            background: #eeeeee;
            position: static;

            flex-direction: column;

            padding: 20.5px 18px;

            h2 {
                text-align: center;
            }

            .relatedGrid {
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 28px;

                text-align: center;

                img {
                    width: 100%;
                }
            }
        }
    }
}
