@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/futura-light.TTF");
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/futura-medium.otf");
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/futura-medium.otf");
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/futura-bold.ttf");
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/futura-extra-bold.TTF");
}
